<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="../webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<title th:text="${title}"></title>
</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Conejos</h1>
			</div>
			<p> 
				<a href="/form" class="btn btn-primary" > Nuevo conejo</a>
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>id</th> <th>Nombre</th> <th>Sexo</th> <th>Fecha Nacimiento </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conejo:${conejo}">
						<td th:each="${conejo.idConejo}"></td>
						<td th:each="${conejo.nombreConejo}"></td>
						<td th:each="${conejo.sexoConejo}"></td>
						<td th:each="${conejo.fechaNac}"></td>
						<td><a th:href="@{'/update?id=' + ${conejo.idConejo}}" class="btn btn-primary"></a></td>
					</tr>
				</tbody>	
			</table>
		</div>
	
	</body>
</html>